body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(44, 156, 194);
    background-color: rgb(17, 11, 8);
}

#title {
    height: 100px;
    width: 600px;
}

#board {
    width: 360px;
    height: 360px;
    background-color: rgb(224, 247, 255);
    border: 10px solid rgb(13, 90, 199);
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;

}

.pieces {
    width: 118px;
    height: 118px;
    border: 1px solid white;
}

.pieces {
    width: 118px;
    height: 118px;
    border: 1px solid white;

    background-size: 360px 360px;
    background-repeat: no-repeat;
}

.dark {
    background-color: rgb(17, 11, 8);
    color: rgb(234, 231, 227);
}

.light {
    background-color: rgb(234, 231, 227);
    color: rgb(17, 11, 8);
}

button {
    background-color: #002f43;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid rgb(126, 205, 245);
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#btn {
    position: relative;
    left: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    /* color: white;
    background-color: rgb(1, 35, 71); */
}

#original {
    padding-top: 0;
    padding-bottom: 20px;
    height: 200px;
    width: 200px;
}

#orig {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;

    padding-left: 20px;
}

#upload {
    height: 24px;
    width: 250px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid rgb(126, 205, 245);
    background-color: #002f43;
    color: white;
}